/* root all pages */
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-yellow: #FFB400;
  --color-yellow-varient: #7a5705;
  --color-dark: #18191A;
  --color-green: #7EB942;
  --color-bg: rgba(36, 37, 38, 0.63);
  --color-white: #fff;
  --color-gray: #767676;
  --color-dark-varient:#242526

}
::-webkit-scrollbar{
  scrollbar-color: var(--color-green) !important ;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #000000!important;
  color: var(--color-white);
}

a {
  color: var(--color-yellow);
  text-decoration: none;
}

a:hover {
  color: var(--color-yellow-varient);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 15px;
  color: var(--color-gray);
}

/* slider */
.right-sidebar{
  background-color: #18191A;
  max-width: 20%;
  height: 196vh;
}

.main-content{
  width: 70%;
  height: 420vh;
}

.left-sidebar{
  background-color: #18191A;
  width: 5%;
  height: 196vh;
}

@media screen and (max-width:768px) {
  .right-sidebar{
    display: none;
  }
  .left-sidebar{
    display: none;
  }
  .main-content{
    width: 100%;
  }
}

/* profile  */
.profile-item{
  background-color: var(--color-yellow);
  padding: 10px 10px 8px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: inline;
  transition: all 0.3s;
  cursor: pointer;
  margin: 0px 5px;
}

.profile-item i{
  color: var(--color-white);
  font-size: 20px;
}
.profile-item:hover{
  background-color: var(--color-yellow-varient);
}
.info-text{
  background-color: var(--color-yellow);
  padding: 6px 20px;
  font-size: 20px;
  color: var(--color-white);
  border-radius: 2px;
}

.info-text1{
  font-size: 20px;
  color: var(--color-white);
}
.success{
  color: #7EB942;
}
/* progress */
.progress{
  border: 0.5px solid var(--color-yellow);
  background: var(--color-dark) !important;
  height: 10px !important;
  padding: 3px;
}
.progress-item{
  background: var(--color-yellow)!important;
}

.Extra-skills ul li{
  background-color: var(--color-dark);
}

/* right side navbar  */
.nav-manu{
  margin-top: 150px;
}

.nav-manu ul li{
  padding: 10px 0;
  background-color: var(--color-gray);
  margin-top: 50px;
  border-radius: 50%;
}

.nav-manu ul li:hover{
  background-color: var(--color-yellow);
}
.nav-manu .active{
  transition: all 0.4s;
  background-color: var(--color-yellow);
  color: var(--color-dark) !important;
}
.nav-manu a, .nav-manu a:focus {
  color: var(--color-white);
}
.nav-manu a i, .nav-manu a:focus i {
  font-size: 24px;
}
.nav-manu a:hover, .nav-manu .active, .nav-manu .active:focus, .nav-manu li:hover > a {
  color: var(--color-dark);
}

/* hero section */
.bg-image{
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  
}